<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="IntegraGenetecPeopleSoft.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <connectionStrings>
    <add name="Conexao"
      connectionString="Data Source =172.16.190.108\SQLEXPRESS; Initial Catalog =Integracao;User ID =imod; Password=imod; Min Pool Size = 5; Max Pool Size = 15; Connection Reset = True; Connection Lifetime = 600; Trusted_Connection = no; MultipleActiveResultSets = True" />
  </connectionStrings>
  <appSettings>
    <add key="Select" value="SELECT PRIMEIRO_NOME,NOME_MEIO,ULTIMO_NOME,MATRICULA,GERENCIA,STATUS FROM Basa Order By STATUS"/>
  </appSettings>
  
</configuration>
