<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
      type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="IntegraGenetecPeopleSoft.Properties.Settings"
        type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <connectionStrings>
    <add name="Conexao" connectionString="Data Source=(description=(address=(protocol=tcp)(host=orahml-scam)(port=1521))(connect_data=(service_name=10.4.8.120:1521)));Persist Security Info=True;User ID=GESEC_USER;Password=pwd_gesec_hml;Unicode=True" providerName="System.Data.OracleClient" />
    <add name="IntegraGenetecPeopleSoft.Properties.Settings.Conexao"
      connectionString="Data Source=(description=(address=(protocol=tcp)(host=orahml-scam)(port=1521))(connect_data=(service_name=10.4.8.120:1521)));Persist Security Info=True;User ID=GESEC_USER;Password=pwd_gesec_hml;Unicode=True&quot; providerName=&quot;System.Data.OracleClient&quot;" />
  </connectionStrings>
  <appSettings>
    <add key="Grupos"
      value="DATA CENTER,GESEC MONITORAMENTO,GESEC COGIL,DIRETORIA,HALL DIRETORIA,PRESIDÊNCIA,15 ANDAR B,SITE BACKUP,SB DATA CENTER,SB SALA,VIGILANTES,BOMBEIROS CIVIL,SERVIÇOS GERAIS,CATAVENTO,HELP DESK,GESTORES,TEMPORÁRIO,JANELA OPERACIONAL"/>
    <add key="Select" value="SELECT TOP(50) PRIMEIRO_NOME,NOME_MEIO,ULTIMO_NOME,MATRICULA,GERENCIA,STATUS FROM [INTEGRACAO.CONSULTA_GENETEC_PEOPLE] Order By PRIMEIRO_NOME"/>
    <add key="Certificado" value="y+BiIiYO5VxBax6/HNi7/ZcXWuvlnEemfaMhoQS1RMkfOGvEBWdUV7zQN272yHVG"/>    
    
    <add key="Diretorio" value="127.0.0.1"/>
    <add key="UsuarioSC" value="estrela"/>
    <add key="SenhaSC" value="estrela@2019"/>
  </appSettings>  
  <applicationSettings>
    <IntegraGenetecPeopleSoft.Properties.Settings>
      <setting name="Select" serializeAs="String">
        <value>SELECT PRIMEIRO_NOME,NOME_MEIO,ULTIMO_NOME,MATRICULA,GERENCIA,STATUS FROM Basa Order By STATUS</value>
      </setting>
      <setting name="Certificado" serializeAs="String">
        <value>y+BiIiYO5VxBax6/HNi7/ZcXWuvlnEemfaMhoQS1RMkfOGvEBWdUV7zQN272yHVG</value>
      </setting>
      <setting name="Diretorio" serializeAs="String">
        <value>172.16.190.108</value>
      </setting>
      <setting name="UsuarioSC" serializeAs="String">
        <value>Admin</value>
      </setting>
      <setting name="SenhaSC" serializeAs="String">
        <value />
      </setting>
    </IntegraGenetecPeopleSoft.Properties.Settings>
  </applicationSettings>
</configuration>
